{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block content %}
<div class="container-md">
    <h1 class="text-center">Bertelsmann/Arvato Project </h1>
    <hr />
    <hr />
    <h2 class="text-sm-left">Customer demographics inputs</h2>

        <div class="row mb-6">
        {% for idx in range(6) %}
          <div class="col-md-2">
            <h4 class="text-center">{{attributes[idx]}} {{':'}} {{values[idx]}}</h4>
          </div>
        {% endfor %}
        </div>  

        <div class="row mb-6">
            {% for idx in range(6,12) %}
              <div class="col-md-2">
                <hr />
                <h4 class="text-center">{{attributes[idx]}} {{':'}} {{values[idx]}}</h4>
              </div>
            {% endfor %}
        </div>

        <div class="row mb-6">
            {% for idx in range(12,18) %}
              <div class="col-md-2">
                <hr />
                <h4 class="text-center">{{attributes[idx]}} {{':'}} {{values[idx]}}</h4>
              </div>
            {% endfor %}
        </div>

        <div class="row mb-6">
            {% for idx in range(18,24) %}
              <div class="col-md-2">
                <hr />
                <h4 class="text-center">{{attributes[idx]}} {{':'}} {{values[idx]}}</h4>
                <!-- <p class="text-center"><i>{{values[idx]}}</i></p> -->
              </div>
            {% endfor %}
        </div>         
</div>

{% endblock %}

{% block message %}
    <hr />
    <h2 class="text-center">Classification result</h2>
    <h3 class="list-group-item list-group-item-success text-center"><i>{{classification_label}}</i></h3>
{% endblock %}

